@import "./theme/components";
@import "./theme/pages";

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Poppins-Regular.ttf') /* Chrome 36+, Opera 23+, Firefox 39+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Poppins-SemiBold.ttf'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Poppins-Medium.ttf'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Poppins-Bold.ttf'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/Poppins-ExtraBold.ttf'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
  font-family: Poppins,sans-serif;
}

h1{
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 33px;
  letter-spacing: -0.25px;
  color: #3C5964;
  margin-left:28px;
  margin-right:28px;
}